/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* 1.1 Reset Style Sheet
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 1.2 Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/* 2. Font Face Declaration
   ========================================================================== */

@font-face {
    font-family: "Roboto";
    src: url("../vendor/fonts/Roboto/Roboto-Regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../vendor/fonts/Roboto/Roboto-Medium-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../vendor/fonts/Roboto/Roboto-Bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}


/* 3. Common Style
   ========================================================================== */

* {
    /* box-sizing: border-box; */
    transition: .2s ease-in-out;
}

:root {
    --white: #fff;
    --black: #111;
    --yellow: #D9B500;
    --darkgreen: #096540;
    --green: #47BB8C;
    --lightgreen: #D6FFDA;
    --grey: #00000029;
    --primaryText: #0F2439;
    --secondaryText: #BCBCBC;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

a {
    width: auto;
    display: inline-block;
    color: var(--primaryText);
    text-decoration: none;
}

h2,
h3 {
    font-weight: bold;
}

input,
button {
    width: auto;
    display: inline-block;
    outline: none;
}

.container {
    width: 100%;
    max-width: 2560px;
    height: 100vh;
    margin: 0 auto;
    background-image: url(../images/barley-field.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}

.wrapper {
    width: 70%;
    max-width: calc(2560px - 30%);
    margin: 0 auto;
}


/* 4. Main Style
   ========================================================================== */


/* Header Style */

header>div:first-child {
    padding: 8px 0;
    background: var(--darkgreen);
}

header p {
    color: var(--white);
    font-size: 14px;
    text-align: center;
}

.site-header {
    padding: 70px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 180px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 0;
}

.logo a {
    text-indent: -9999px;
}

.logo img {
    float: right;
}

.search-content {
    display: flex;
    justify-content: center;
}

input#search,
button.search-icon {
    padding: 15px;
}

.title {
    margin: 0 auto;
    color: var(--darkgreen);
    font-size: 2em;
    text-align: center;
}